@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}



@layer base {
  .funky-title {
    font-family: 'Gloria Hallelujah', cursive;
  }

  .btn-gradient {
    /* @apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30  !text-white from-yellow-300 via-orange-500 to-indigo-600; */
    @apply bg-gradient-to-r from-brand-yellow via-brand-orange to-brand-purple hover:bg-yellow-300;
    @apply bg-[length:500%_500%] hover:saturate-[1.2] shadow duration-100;
    @apply !border-0 !border-transparent !bg-transparent animate-shimmer;
    @apply disabled:!bg-none disabled:!bg-gray-500/30 text-white;

    &:hover {
      @apply !animate-none; /* Disable animation on hover */
      @apply bg-yellow-300; /* Change background color to yellow on hover */
    }

  }
  
  .btn {
    @apply !capitalize;
    @apply bg-brand-yellow hover:bg-brand-purple;
  }

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}



}
